<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>PCTO Angelo Longano</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/styles.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css"
    />
  </head>

  <body id="page-top">
    <div id="app">
      <nav
        class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark"
        id="mainNav"
      >
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top"
            >PCTO Angelo Longano</a
          ><button
            data-toggle="collapse"
            data-target="#navbarResponsive"
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toogle="collapse"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
              <li class="nav-item" role="presentation">
                <a class="nav-link js-scroll-trigger" href="#portfolio"
                  >Portfolio</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link js-scroll-trigger" href="#about">About me</a>
              </li>
              <li class="nav-item" role="presentation"></li>
              <li class="nav-item" role="presentation"></li>
            </ul>
          </div>
        </div>
      </nav>
      <header
        data-bs-parallax-bg="true"
        class="masthead"
        style="background-image:url('assets/img/header-bg.jpg');"
      >
        <div class="container">
          <div class="intro-text">
            <div class="pulse animated intro-heading text-uppercase">
              <span>La mia esperienza di pcto</span>
            </div>
            <a
              class="btn btn-primary pulse animated btn-xl text-uppercase js-scroll-trigger"
              role="button"
              href="#portfolio"
              >SCOPRI</a
            >
          </div>
        </div>
      </header>
      <section id="portfolio" class="bg-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="text-uppercase">PORTFOLIO</h2>
              <h3 class="text-muted section-subheading">
                La mia esperienza di PCTO
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul
                class="list-group timeline"
                v-for="activity in activities"
                v-key="activity.id"
              >
                <li
                  v-if="!activity.changeYear"
                  class="list-group-item"
                  v-bind:class="activity.positionLeft ? '' : 'timeline-inverted' "
                  v-bind:data-aos="activity.positionLeft ? 'fade-left' :'fade-right'"
                  data-aos-once="true"
                >
                  <div class="timeline-image">
                    <img
                      class="rounded-circle img-fluid"
                      v-bind:src="'assets/img/portfolio/'+activity.name+'.jpg'"
                    />
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3>{{activity.title}}</h3>
                      <h4 class="subheading">{{activity.agency}}</h4>
                    </div>
                    <div class="timeline-body">
                      <p
                        :class="activity.positionLeft ? 'text-left' :'text-left'"
                      >
                        {{activity.miniDescrption}}
                      </p>
                    </div>
                    <a :href="'#'+activity.name" data-toggle="modal"
                      >VEDI ARTICOLO</a
                    >
                  </div>
                </li>

                <li v-else class="list-group-item" :id="activity.name">
                  <div
                    v-bind:data-aos="activity.lastOne ? 'slide-down' : 'zoom-in'"
                    data-aos-once="true"
                    class="timeline-image"
                  >
                    <h4>{{activity.first}}<br />{{activity.second}}</h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div
        data-bs-parallax-bg="true"
        style="height:500px;background-image:url(assets/img/header-bg.jpg);background-position:center;background-size:cover;"
      >
        <section id="about">
          <div class="container text-light">
            <h1 class="text-center">{{about.title}}</h1>
            <h3 class="text-center section-subheading ">
              <br />{{about.subtitle}}<br /><br />
            </h3>
            <p class="text-left">
              <span v-html="about.description"></span><br />
            </p>
          </div>
        </section>
      </div>
      <div class="footer-dark">
        <footer>
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="flex-col ml-3">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="js-scroll-trigger" href="#terzo-anno"
                      >Terzo Anno</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="js-scroll-trigger" href="#quarto-anno"
                      >Quarto Anno</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="js-scroll-trigger" href="#quinto-anno"
                      >Quinto Anno</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="js-scroll-trigger" href="#about">About</a>
                  </li>
                </ul>
              </div>
              <div class="flex-col item social">
                <a
                  href="http://www.alternanza.miur.gov.it/index.html"
                  target="_blank"
                  ><img src="assets/img/LogoPCTO.png"
                /></a>
                <a href="https://www.pascal.edu.it/" target="_blank"
                  ><img src="assets/img/LogoBUS.png"
                /></a>
                <p class="copyright">PCTO Angelo Longano © 2020</p>
              </div>
            </div>
          </div>
        </footer>
      </div>

      <div
        v-for="activity in activities"
        class="modal fade portfolio-modal text-center"
        role="dialog"
        tabindex="-1"
        :id="activity.name"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                      <h2>{{activity.title}}</h2>
                      <h4>
                        <a :href="activity.urlAgency" target="_blank"
                          >{{activity.agency}}</a
                        >
                      </h4>
                      <img
                        class="img-fluid d-block mx-auto"
                        :src="'assets/img/activities/'+activity.name+'-full.jpg'"
                      />
                      <p class="text-left">
                        <span v-html="activity.descrption"></span>
                      </p>
                      <button
                        class="btn btn-primary"
                        data-dismiss="modal"
                        type="button"
                      >
                        <i class="fa fa-times"></i
                        ><span>&nbsp;Close Project</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <li>
          <lu></lu>
        </li>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <script src="assets/js/vue-script.js"></script>
  </body>
</html>
